.messenger {
  display: grid;
  place-items: center;
  height: calc(100vh - 56px);
}

.messengerWrapper {
  display: flex;
  background-color: #ededed;
  margin-top: -20px;
  height: 85vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  position: relative;
}

.noConversation {
  position: absolute;
  top: 30%;
  left: 40%;
  font-size: 50px;
  color: #8d99ae;
  cursor: default;
}
