.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.3;
}

.menu_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: #fff;
}

.chats {
  flex: 1;
  background-color: #fff;
  overflow: scroll;
}
